@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2f3442;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0px !important;
}
.swiper-pagination > .swiper-pagination-bullet {
  display: flex;
  flex-direction: row;
  opacity: 1;
  border: white solid 1px;
  background-color: transparent;
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 10px !important;
  height: 10px !important;
}
